BasedOnStyle: LLVM
Language: Cpp
Standard: c++26

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true

PointerAlignment: Left
ReferenceAlignment: Left

ColumnLimit: 100

NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
FixNamespaceComments: true

SpaceBeforeRangeBasedForLoopColon: true
Cpp11BracedListStyle: true

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

AlignConsecutiveAssignments: false
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 1000
