BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 2
ContinuationIndentWidth: 4
NamespaceIndentation: All
BreakBeforeBraces: Attach

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
SpacesInParentheses: false
SpaceAfterCStyleCast: true
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Leave

ColumnLimit: 120

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^".*"'
    Priority:        1
  - Regex:           '^<.*>'
    Priority:        2

FixNamespaceComments: true
SpaceBeforeRangeBasedForLoopColon: true
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

AlignConsecutiveAssignments: false
AlignTrailingComments: true
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 1000
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
